---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Panda Code Solutions || 404">
  <div class="md:px-10 2xl:px-16 z-20 flex flex-col justify-center items-center pt-[80px]">
    <div class="flex pb-20">
      <h1 
      class="text-[4rem] w-[1300px] max-w-[1300px] font-bold leading-none text-center pt-20" 
      >
        404 :( 
      </h1>
    </div>
    <div>
      <img class="" src="/saddy.gif" alt="">
    </div>
  </div>
</Layout>

