---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Panda Code Solutions || 404">
  <div class="md:px-10 2xl:px-16 h-full flex flex-col justify-center items-center pt-[80px] bg-[#f2ebd5] pb-[405px] w-full ">
    <div class="flex pb-20">
      <h1 
      class="text-[4rem] text-[#35591B] font-bold leading-none text-center pt-20 cursor-default" 
      >
        404 :( 
      </h1>
    </div>
    <div>
      <img src="/saddy.gif" alt="">
    </div>
    <div class="pt-8">
      <a 
        href="/"
        class="text-[#35591B] text-xl font-bold leading-none text-center pt-20 underline" 
      >
      ← Regresa a la homepage
      </a>
    </div>
  </div>
</Layout>

