---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ServicesBanner from '../components/ServicesBanner.astro';
import MVBlock from '../components/MVBlock.astro';
import Contact from '../components/Contact.astro';
import ProductsList from '../components/ProductsList.astro';
import Showcase from '../components/Showcase.astro';
---

<Layout title="Panda Code Solutions || Software Eficiente">
	<main>
		<Hero/>
		<MVBlock/>
		<ServicesBanner/>
		<ProductsList/>
		<Showcase title="Nuestro organigrama" imgPath="https://static.wixstatic.com/media/29eb68_1b3299d400924335b2f4563bdf93f3b3~mv2.png/v1/fill/w_1300,h_300,al_c,lg_1,q_85,enc_auto/29eb68_1b3299d400924335b2f4563bdf93f3b3~mv2.png"/>
		<Showcase title="Cadena de suministros" imgPath="https://static.wixstatic.com/media/29eb68_115b5dfc7a604ebeac1f75ebfcae1fdb~mv2.png/v1/fill/w_920,h_500,al_c,lg_1,q_85,enc_auto/29eb68_115b5dfc7a604ebeac1f75ebfcae1fdb~mv2.png"/>
		<Showcase title="Relacion con clientes" imgPath="https://static.wixstatic.com/media/29eb68_d5d4544d365c4e2b8d9953063a0711f1~mv2.png/v1/fill/w_720,h_404,al_c,lg_1,q_85,enc_auto/29eb68_d5d4544d365c4e2b8d9953063a0711f1~mv2.png"/>
		<Contact/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: auto;
		min-width: 800px;
		color: #35591B;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
