---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MVBlock from '../components/MVBlock.astro';
---

<Layout title="Panda Code Solutions || Software Eficiente">
	<main>
		<Hero/>
		<MVBlock/>
		<div class="flex py-7 border items-center justify-center">
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: auto;
		min-width: 800px;
		color: #35591B;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
