---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Panda Code Solutions || Software Eficiente">
	<main>
		<div class="flex items-center justify-center">
			<img class="mt-0 mb-8 shadow-2xl shadow-blue-500/20" src="../../public/isoLog-pdsWhite.webp" alt="Panda Code Solutions Logo">
		</div>
		<h1 >Panda <span class="text-gradient">Code</span></h1>
		<h1 class="mb-8">Solutions</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
