---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Panda Code Solutions || Software Eficiente">
	<main>
		<Hero/>
		<div class="flex py-7 border items-center justify-center">
			<p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, harum quidem ab eligendi perferendis velit culpa? Consectetur praesentium, quibusdam, ut culpa esse dolor eaque voluptatibus repellat tenetur dicta nobis earum animi fugit nisi. Tempore illo eum molestias atque deleniti facilis voluptatem consequuntur quos soluta numquam, alias aperiam fugit, officia doloremque architecto molestiae corporis nam? Dolorum eos reiciendis, sed incidunt fugit corporis officia pariatur delectus aliquid magnam laboriosam quasi. Provident quod dolorem quia, dolore officiis ex? Modi dolores vero soluta, iure vel ratione amet. Minus illo maxime aliquam animi temporibus excepturi labore beatae, modi natus inventore molestias, magnam dolor quos odit.</p>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: auto;
		min-width: 800px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
