---
interface Props {
  name: string
  text:string
  isTextArea: boolean
}

const { name, text, isTextArea } = Astro.props
---
<div class=`relative z-0 ${isTextArea ? 'col-span-2' : ''}`>
  {isTextArea ? (
    <textarea name={`${name}`} rows="5" class="peer block w-full appearance-none border-0 border-b-[3px] border-[#35591B] bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-[#688c44] focus:outline-none focus:ring-0" placeholder=" "></textarea>
  ) : (
    <input type="text" name={`${name}`} class="peer block w-full appearance-none border-0 border-b-[3px] border-[#35591B] bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-[#688c44] focus:outline-none focus:ring-0" placeholder=" " />
  )}
  <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-[#35591B] duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-[#688c44]">{text}</label>
</div>

<style>
  :root {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .no-drag {
    pointer-events: none;
  }
</style>
