---
import ContactInput from "../components/ContactInput.astro"
---
<div class="flex min-h-[700px] items-center justify-start bg-white">
  <div class="mx-auto w-full max-w-lg">
    <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl">Contactanos</h1>
    <p class="sm:text-lg mt-3">Envía tu correo a <a href="mailto:contacto@pandacs.com" class="underline text-[#688c44]">contacto@pandacodes.com</a> o dejanos tu mensáje aquí:</p>

    <form class="mt-10">
      <div class="grid gap-6 sm:grid-cols-2">
        <ContactInput name="name" text="Nombre" isTextArea={false} />
        <ContactInput name="email" text="Email" isTextArea={false} />
        <ContactInput name="message" text="Mensaje" isTextArea={true} />
      </div>
      <button type="submit" class="mt-5  bg-[#688c44] px-5 py-2 text-white">Enviar mensaje</button>
    </form>
  </div>
</div>