---
import { Image } from "astro:assets"

const navData = [
  {
    name: "About",
    path: "/about",
  },
  {
    name: "Services",
    path: "/services",
  },
  {
    name: "Products",
    path: "/products",
  }
]
---
<div class="fixed top-0 w-full px-5 border-b bg-[#f6f8fd] border-gray-700 z-20">
  <nav aria-label="Primary" class="relative flex flex-wrap items-center justify-between py-3 mx-auto lg:justify-between">
    <div class="">
      <a href="/" class="place-items-center grid" aria-label="Go Home" >
        <Image src="/isoLog-pdsWhite.webp" height="45" width="45" alt="GoHome">
      </a>
    </div>
    <div>
      <ul class="nav-links flex justify-end">
        {
          navData.map((item) => (
            <li class="px-5 text-[#35591B] justify-center cursor-pointer font-[500] text-lg hover:underline transition-all duration-200 ease-in-out">
              <a href={item.path}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>