---
import { Image } from "astro:assets";
import LinkButton from "./LinkButton.astro";

---
<style>
  :root {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .no-drag {
    pointer-events: none;
  }
</style>

<div class="sm:px-5 md:px-10 2xl:px-16 z-20 flex flex-col justify-center items-center pt-[100px] bg-[#f2ebd5]">
  <div class="w-[800px] max-w-[800px] sm:w-[1300px] sm:max-w-[1300px]">
    <h1 class="text-[4rem] text-[#35591B] font-bold leading-none text-center pt-20">Impulsando la Tecnología y la Sostenibilidad</h1>
  </div>
  <div>
    <p class="text-gray-500 font-normal py-8 text-center w-[700px] max-w-[800px]">Transformamos la tecnología con innovación y responsabilidad ambiental. ¡Descubre cómo llevar tu empresa al siguiente nivel!</p>
  </div>
  <div class="pb-[40px]">
    <LinkButton text="Contactanos" direction="/contact" title="¡Contacta con nosotros!"/>
  </div>
</div>

<div class="no-drag hidden sm:block" style={{ position: 'absolute', left: '-2%', top: '49%', transform: 'translateY(-96%)' }}>
  <Image src="/bamboorami.webp" alt="Bamboo" height="68" width="202" loading="eager"/>
</div>

<div class="no-drag hidden sm:block" style={{ position: 'absolute', right: '0%', top: '49%', transform: 'translateY(-96%)' }}>
  <Image src="/bamboorami.webp" alt="Bamboo" height="68" width="202" loading="eager"/>
</div>