---
---

<div class="flex flex-col justify-center items-center pt-[80px]">
  <div class="flex w-4">
    <h1 class="text-[4rem] font-bold leading-none text-center">Impulsando la  <span class="bg-gradient-to-r from-yellow-500 to-red-500 bg-clip-text text-transparent bg-400 bg-left"> Excelencia, Tecnológica</span> y la Sostenibilidad</h1>
    <p class="text-white font-normal py-3 text-center">Transformamos la tecnología con innovación y responsabilidad ambiental. ¡Descubre cómo llevar tu empresa al siguiente nivel!</p>
  </div>
  <div>
    
  </div>
</div>