---
import AboutCard from "./AboutCard.astro"
---

<div class="text-center pb-0 p-8 ">
    <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl mb-20">
      ¿Por qué elegirnos?
    </h2>

    <AboutCard title="Misión" img="/bambooProd.webp" direction="right" altImg="Bateria portatil Bamboo Pro en un escritorio" isEager="eager">
        Ofrecer servicios de software de vanguardia que transformen la interacción con la tecnología, superando las expectativas de nuestros clientes con soluciones innovadoras y personalizadas, mientras fomentamos la sostenibilidad a través de souvenirs de bambú, protegiendo nuestro planeta.
    </AboutCard>

    <hr class="solid mt-5 border-[#688c44] border-[1.5px]">
    
    <AboutCard title="Visión" img="/natureTech.webp" direction="left" altImg="Computadora portatil sobre un tronco" isEager="lazy">
        Visualizamos un futuro donde la tecnología y la sostenibilidad convergen para crear un mundo más inteligente y respetuoso con el medio ambiente. Aspiramos a ser reconocidos globalmente por nuestra innovación tecnológica y sostenibilidad, inspirando a otras empresas hacia prácticas empresariales responsables y contribuyendo a un futuro más sostenible y tecnológicamente avanzado.
    </AboutCard>
</div>