---
import ProductCard from '../components/ProductCard.astro'
---
<section class="py-10 bg-gray-100">
  <div class="flex items-center justify-center nline-flex px-4 py-[20px] mx-auto rounded-full">
    <h2
      class="text-[4rem] text-[#35591B] font-bold leading-none text-center"
    >
      Nuestros productos
    </h2>
  </div>
  <div class="mx-auto grid max-w-6xl  grid-cols-1 gap-6 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <ProductCard product="Cargador Bambu"  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nulla congue, accumsan enim a, gravida augue. Morbi quis sollicitudin." price="350" imgPath="/bambooProd.webp"/>
    <ProductCard product="Cargador Bambu"  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nulla congue, accumsan enim a, gravida augue. Morbi quis sollicitudin." price="350" imgPath="/bambooProd.webp"/>
    <ProductCard product="Cargador Bambu"  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nulla congue, accumsan enim a, gravida augue. Morbi quis sollicitudin." price="350" imgPath="/bambooProd.webp"/>
    <ProductCard product="Cargador Bambu"  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nulla congue, accumsan enim a, gravida augue. Morbi quis sollicitudin." price="350" imgPath="/bambooProd.webp"/>
</section>