---
import ServiceCard from '../components/ServiceCard.astro'
---

<section class="bg-[#f2ebd5]">
  <div class="py-10 sm:py-16 block lg:py-24 relative bg-opacity-50 z-40">
    <div
      class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8"
    >
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
        <div class="max-w-xl mx-auto text-center">
          <div class="inline-flex px-4 py-1.5 mx-auto rounded-full">
            <h2
              class="text-[4rem] text-[#35591B] font-bold leading-none text-center"
            >
              Nuestros servicios
            </h2>
          </div>
          <p
            class="mt-4 text-base leading-relaxed text-gray-600 group-hover:text-white"
          >
            En panda Code Solution ofrecemos una variedad de servicios de
            desarrollo web para ayudar a nuestros clientes a tener exito en
            linea. Desde web's personalizadas, podemos ayudarlo a alcanzar sus
            objetivos en linea
          </p>
        </div>
        <div class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-3 lg:mt-20">
          <ServiceCard title="Apparels Industry">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
          </ServiceCard>
        </div>
      </div>
    </div>
  </div>
</section>
