---
interface Props {
  title: string
}

const { title } = Astro.props
---

<div
  class="bg-white hover:bg-[#688c44] m-2 p-4 relative group shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300"
>
  <div
    class="absolute bg-[#688c44]/50 top-0 left-0 w-24 h-1 transition-all duration-100 group-hover:bg-white group-hover:w-1/2"
  >
  </div>
  <div class="py-6 px-6 relative">
    <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl group-hover:text-white">
      { title }
    </h3>
    <p class="mt-4 text-base text-gray-600 group-hover:text-white">
      <slot/>
    </p>
  </div>
</div>
